/* You can add global styles to this file, and also import other style files */

body {
  background: url(assets/img/main-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
